    body { 
      background:#77AAC8; font-family:"Open Sans"; font-weight:400; 
      padding-top:30px; text-align:center;
      color: #1C313D;
       }


  p{

       font-size: 20px; 
        
     }


 th, td {
    text-align: left;
    padding: 8px;
    border-radius: 9px;
    text-align: center;
    color: #405B6B;
}

tr:nth-child(even){background-color: #f2f2f2;

}

th {
    background-color: #1C313D;
    color: white;
}

img{
  border-radius: 30%;
  width: 180px;
  height: 180px;
}

.class{
    margin: auto;
    width: 60%;
    padding: 10px;
     }
